.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 black;
}

.timelineContainer {
  /* grid-area: main; */
  --labels-width: 60px;
  --clock-height: 1.5em;

  --area-height: 100px;
  width: min(600px, 100%);

  position: relative;

  
  overflow-x: scroll;
  overflow-y: scroll;
  height: 90vh;

  margin-top: 32px;
  margin-bottom: 32px;
}

.timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  top: var(--clock-height);
  left: var(--labels-width);
}

.labels {
  left: 0;
  position: sticky;
  width: var(--labels-width);
  padding-top: var(--clock-height);
  transform: translateY(calc(0px - var(--clock-height)));
  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 20;
  background-color: white;

}

.labels div {
  height: var(--area-height);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  writing-mode: vertical-rl;
  line-height: 90%;
  /* text-orientation: sideways; */
}



.timelineArea {
  width: 100%;
  height: var(--area-height);
  background-color: aliceblue;
  z-index: 0;
  position: relative;

  /* background-color: aliceblue;
  background-image: linear-gradient(90deg, transparent 90%,
    rgba(0,0,0,1) 10%);
  background-size: 10px 10px; */
}

.timelineEvent {
  height: 100%;
  border-radius: 10px;
  position:absolute;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.2em;
  font-weight: 700;
  color: white;

  padding-right: 50px;
}
 /* CLOCK */
.clock {
  width: 100%;
  height: var(--clock-height);
  left: var(--labels-width);
  top:0;

  background-color: aliceblue;
  position: sticky;
  z-index: 5;
}

.clock .major {
  position: absolute;

  width: 10ch;
  transform: translateX(-5ch);
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
}

/* Dividers and marks */
.timelineDivider {
  height: 50px;
}

.labels .timelineDivider {
  height: 50px; 
}