.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 black;
}

.timelineContainer {
  /* grid-area: main; */
  --labels-width: 60px;
  --clock-height: 100px;

  --area-height: 100px;
  width: min(600px, 90%);

  position: relative;

  
  overflow-x: scroll;
  overflow-y: scroll;
  height: 90vh;
}

.timeline {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3px;
  top: var(--clock-height);
  left: var(--labels-width);
}

.labels {
  /* height: 100%; */
  padding-top: var(--clock-height);
  left: 0;
  position: sticky;
  width: var(--labels-width);

  display: flex;
  flex-direction: column;
  gap: 3px;
  z-index: 20;
  background-color: white;

}

.labels div {
  height: var(--area-height);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  writing-mode: vertical-rl;
  line-height: 90%;
  /* text-orientation: sideways; */
}



.timelineArea {
  width: 100%;
  height: var(--area-height);
  background-color: aliceblue;
  z-index: 0;
  position: relative;

  background-color: aliceblue;
  background-image: linear-gradient(90deg, transparent 90%,
    rgba(0,0,0,1) 10%);
  background-size: 10px 10px;
}

.timelineEvent {
  height: 100%;
  border-radius: 10px;
  position:absolute;
  top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.2em;
  font-weight: 700;
  color: white;

  padding-right: 50px;
}
 /* CLOCK */
.clock {
  width: 100%;
  height: var(--clock-height);
  left: var(--labels-width);
  margin-bottom: 10px;

  background-color: aliceblue;
  position: absolute;
}

.clock .major {
  color: red;
  position: absolute;

  width: 10ch;
  transform: translateX(-5ch);
  text-align: center;
}

.clock .major::after{
  content: " ";
  color: darkblue;
  top: 0;
  left: 5ch;
  position: absolute;
  width: 1px;
  height: 100vh;
  border: 2px solid black;
  z-index: 5;
}


/* Dividers and marks */
.timelineDivider {
  height: 50px;
}

.labels .timelineDivider {
  height: 50px; 
}