.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 black;
}

.note {
  font-style:italic;
  text-align: center;
  padding: 0.5em;
}

.note a {
  color: blue;
  font-weight: 600;
}

.mapContainer {
  position: relative;
  width: min(600px, 80vw);
  aspect-ratio: 1.3;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

.map {
  overflow: hidden;
  
}

.zoomButton {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 0 0 10px 0;
  border-radius: 5px;
  border: 1px solid grey;
  z-index: 30;
  top: 10px;
  right: 10px;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  padding: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: 1em;
  width: 20ch;
}

.tooltip h2 {
  font-weight: 600;
}

.tooltip::after {
  position: absolute;
  content: " ";
  opacity: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-5px);
  width: 0; 
  height: 0; 

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

.description {
  width: min(600px, 80vw);
  /* min-height: 100px; */
  padding: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  margin-bottom: 2em;
}

.description h1 {
  font-size: 1.6em;
}

.description h2 {
  font-size: 1.2em;
  font-style: italic;
}

.description .poster {
  position: relative;
  width: 212px;
  height: 300px;
}